name: Code Quality
on:
  workflow_call:
  workflow_dispatch:
jobs:
  continuous-integration:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.13'
        cache: 'pip'
        cache-dependency-path: '*requirements.txt'
    - name: Configure git auth for private dependencies
      run: |
        git config --global url."https://x-access-token:${PAT}@github.com/".insteadOf "https://github.com/"
      env:
        PAT: ${{ secrets.KAVAKEN_COMMON_READ_PAT }}
    - name: Upgrade pip
      run: pip install --upgrade pip
    - name: Install wheel
      run: pip install wheel
    - name: Install Requirements
      run: pip install -r requirements.txt
    - name: Install Dev-Test Requirements
      run: pip install -r dev_requirements.txt
    - name: Local Install
      run: make local-install
    - name: Run format
      run: make format
    - name: Run lint
      run: make lint
    - name: Run security
      run: make security-baseline
    - name: Run static analysis
      run: make complexity-baseline
